@import '/node_modules/bootstrap/scss/bootstrap.scss';

.app-container {
  padding-top: 40px;
  min-width: 100%;
  background: #1c2129;
  color: #aebac7;
}

.left-nav-container {
  position: fixed;
  min-height: 100%;
  top: 0;
  width: 320px;
  background: #23272e;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color: #aebac7;
  // align-items: center;
  padding-left: 30px;
}

.search-box-container {
  width: 240px;
  color: #aebac7;
}

.results-container {
  padding-left: 350px;
  display: flex;
  flex-wrap: wrap;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.result-card {
  padding: 10px 10px 10px 10px;
  width: 450px;
  min-height: 135px;
}

.repo-title {
  padding-left: 350px;
}
